.page-notFound{
    .title {
        font-size: 120px;
        font-weight: bold;
        text-align: center;
        margin: 0 0 50px;
    }
    .content {
        font-size: 30px;
        text-align: center;
    }
}