.page-archive {
    .content {
        .load-item {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0,0,0,.05);
            .title {
                height: 26px;
                width: 50%;
                margin-bottom: 15px;
            }
            .meta {
                span {
                    display: inline-block;
                    width: 30px;
                    height: 13px;
                    margin-right: 15px;
                }
            }
        }
        .archive-item {
            margin-bottom: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid rgba(0,0,0,.05);
            .title {
                display: inline-block;
                color: rgba(0, 0, 0, 0.8);
                font-size: 20px;
                line-height: 1.3;
                margin-bottom: 15px;
                &:hover {
                    color: #000;
                }
            }
            .meta {
                color: rgba(0,0,0,.5);
                font-size: 13px;
                span {
                    margin-right: 15px;
                    a {
                        color: rgba(0,0,0,.5);
                        &:hover {
                            color: rgba(0,0,0,.7);
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}