.page-index {
    .posts {
        margin-bottom: 70px;
    }
    .post-load {
        margin-bottom: 40px;
        padding-bottom: 40px;
        border-bottom: 1px dotted rgba(0, 0, 0, 0.25);
        .load {
            background: rgba(0,0,0,.05);
        }
        .title {
            width: 50%;
            height: 20px;
            margin: 0 auto 30px;
        }
        .poster {
            height: 250px;
            margin-bottom: 30px;
        }
        .content {
            margin-bottom: 30px;
            p {
                height: 15px;
            }
        }
        .mate {
            text-align: center;
            span {
                display: inline-block;
                width: 30px;
                height: 15px;
                margin: 0 10px;
            }
        }
    }
    .post-item {
        margin-bottom: 100px;
        padding-bottom: 100px;
        background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAPYAAAAkCAMAAACNOjfeAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAABsUExURUdwTDgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLjgsLh+NYNMAAAAkdFJOUwAjKz0BGQUuIDEdEgs1FUhiOYNTKEEJWEsPRWp5XX1mTnVwiLcCy8kAAANFSURBVBgZ7cDpbptKGAbgd5j1m4112MHYvv97PEATJX8StdVRJTt+8PLy8vK/8kXh8fO4eXb4gYjwE+U5fiB/vXo8O+VxilkIjQegtvt9UwB8E0IWcfIKTyUWcwkIfakOax3B1qpaGWK9VoeLFkA5FxHPxJo0K3m5T6mRsunXNYOZZ4NsXftGyiZN94tUczIWz6Wd0lwwgdNQVw1CQFPVA06CFXOaWjwbW10JH8arB/x1xAe6VhaPTil8JpaLw0ng1I3A2OEkcHKXReAzpfBYmrreSoUPfadw8KneSACQhRCFBCBoq5PHQXU9Pqhyq+sGD4TfmrbNksK7tAkchiJFF7gAROdcJwDBg4upGHAQW8I7lbK2bW4c/44Qyg9Ots7gb8RrxE4zvAk5fqk5dlwCyKXMAUiOHa/xSx7whmns4jXibxjXSjd4JQR+A+PjVnfFdLvN87qyqUpaayJ9INJfI9I7ItJaZ/Ut05RladOnJk2kT+EWNCmUFkCSMgGwJRTpcAv6RFNq9GlLWUY6u9WZ1pqI9I5If41IH4i01qma2LrO8+02FV29jZzhO7LRFPiY111XXCbTXbU1hjFzYOYbzBwYM8bYmBfW5mPWZdbsZN9Za6SU1tDFWBpLLgCRt20uAMHLkay5kLFSSmNt10uzs1mXjbm1RR6tMYYxc2DmG8wcGDPG6mtnpkvRdXU+8kC6kfhdQgnV4s+5lBeAIm5xCqMCoEdq0RYKiEwAcAlIDoBgEVBFi5ZGDUCNASfLSQFFnhz+XKuEEviHxDIVlcY7t3Hs8qXRfcRGeMMtYDne0IbY62bJseObwztdFdMi8ABSFGnOcPJlzbAbLi3geu87ixOVaFuUhJPtvO8d0F4G7FhdepyyOYmY8AiEgpruS2CM+oW3OPjCIRMyV0Ne2mFgKaAkKhESGwZb5oPKpcjgCo9Dy5eeGAvLfVJQAg/C1deqWm9L8HhDyxYETO5gQ1mSQ7Yas2ZwVJbBwuUGImwL4Y0Py22tqmvt8Ei8NdLjkyFiF8fghBDKbvcaqO+bVUIIF8aIXRzwiZfGejwHwXjiPPX9UnhfLH2fOE+cCTw7FWUclPBcSu6FGqKMCi8vLy8vLy8vX/kP+Zo3k1SgJKQAAAAASUVORK5CYII=');
        background-position: bottom center;
        background-repeat: no-repeat;
        .title {
            color: rgba(0,0,0,.8);
            font-size: 20px;
            line-height: 1.8;
            margin-bottom: 25px;
            text-align: center;
        }
        .poster {
            display: block;
            height: 250px;
            margin-bottom: 30px;
            background-color: rgba(0,0,0,.05);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            transition: all .3s ease;
            &:hover {
                box-shadow: 0 0 15px 0 rgba(0,0,0,0.25);
            }
        }
        .content {
            color: rgba(0,0,0,.6);
            font-size: 14px;
            line-height: 1.8;
            word-break: break-all;
            margin-bottom: 30px;
        }
        .mate {
            color: rgba(0,0,0,.5);
            font-size: 13px;
            text-align: center;
            span {
                margin: 0 10px;
                a {
                    color: rgba(0,0,0,.5);
                    &:hover {
                        color: rgba(0,0,0,.7);
                        text-decoration: underline;
                    }
                }
            }
        }
    }
    .loadStatus {
        text-align: center;
        margin-bottom: 50px;
        height: 40px;
        .loadEnd {
            font-size: 14px;
            color: rgba(0,0,0,.6);
            display: inline-block;
        }
        .loadMore {
            cursor: pointer;
            font-size: 12px;
            padding: 7px 20px;
            display: inline-block;
            color: rgba(0,0,0,.7);
            border: 1px solid rgba(0,0,0,.5);
            &:hover {
                color: rgba(0,0,0,1);
                border: 1px solid rgba(0,0,0,1);
            }
        }
    }
}